@using Registrar.Models;

<h1>Students</h1>
<h2>Student: @Model["selectedStudent"].name</h2>


<h4>Add a course for this student:</h4>
<form action='/students/@Model["selectedStudent"].id/courses/new' method='post'>
  <label for='courseId'>Select a course</label>
  <select id='courseId' name='courseId' type='text'>
    @foreach (var course in @Model["allCourses"])
    {
      <option value='@course.id'>@course.name</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>



<p><a href="/">Return to Main Page</a></p>

<h2>Courses: </h2>

  @foreach(var course in @Model["studentCourses"])
  {
    <li>@course.name</li>
  }

<hr/>
