@using Registrar.Models;
@{
  Layout = "_Layout";
}

<h1>Student: @Model["selectedStudent"].name</h1>
<hr/>
@if (Course.GetAll().Count == 0)
{
 <h2>There are no courses available. Please <a href= "/courses/new">add a course.</a></h2>
}
<br>
<h4>Add a course for this student:</h4>

<form action='/students/@Model["selectedStudent"].id/courses/new' method='post'>
  <label for='courseId'>Select a course</label>
  <select id='courseId' name='courseId' type='text'>
    @foreach (var course in @Model["allCourses"])
    {
      <option value='@course.id'>@course.name</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<hr/>

<h2>@Model["selectedStudent"].name's courses: </h2>

  @foreach(var course in @Model["studentCourses"])
  {
    <li>@course.name | <a href="/students/@Model["selectedStudent"].id/done/course.id"> Done</a></li>
  }
<hr/>
<p><a href="/students">Return to Student List</a></p>
<p><a href="/">Return to Main Page</a></p>
